[Unit]
Description=XPressCan WiFi Boot Manager
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/xpresscan/wifi_boot_manager.sh start
ExecStop=/opt/xpresscan/wifi_boot_manager.sh stop

[Install]
WantedBy=multi-user.target
